<h1>Notre Équipe</h1>
<p>Découvrez notre équipe de passionnés derrière ce projet.</p>

<ul>
    <li>Nora - Chouette Partenaire</li>
    <li>Aka' - Duck Tape</li>
    <!-- Ajoute les membres de l'équipe ici -->
</ul>