
<h1><%= @gossip.title %></h1>
<p><%= @gossip.content %></p>
<p><strong>Auteur :</strong> <%= link_to "#{@gossip.user.first_name} #{@gossip.user.last_name}", "/profile/#{@gossip.user.id}"%></p>
<p><strong>Ville :</strong> <%= @gossip.user.town %></p>