<h1><%= @city.name %></h1>

<%# <h2>Potins associés à la ville :</h2>
<ul>
  <% @gossips.each do |gossip| %>
    <li>
      <strong><%= gossip.title %></strong>: <%= gossip.content %>
    </li>
  <% end %>
</ul> %>