<%# #cities/show.html.erb# %>
<h1>Ville : <%= @city.name %></h1>

<h2>Potins de cette ville :</h2>
<% if @gossips.any? %>
  <% @gossips.each do |gossip| %>
    <h3><%= link_to gossip.title, gossip_path(gossip) %></h3>
    <p>Par <%= link_to "#{gossip.user.first_name} #{gossip.user.last_name}", user_path(gossip.user) %></p>
  <% end %>
<% else %>
  <p>Aucun potin pour cette ville.</p>
<% end %>
